@model IEnumerable<Booking.Data.Entities.Facility>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="d-flex justify-content-start align-items-center mt-4 gap-3">
    <!-- Create Button -->
    <a href="@Url.Action("Create", "Facilities")" class="btn btn-primary btn-md" style="width: 150px; height: 50px; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 10px;">
        <i class="fas fa-wallet"></i> <!-- Font Awesome icon -->
        <span>Create</span>
    </a>

    <!-- Search Bar -->
    <form asp-action="DetailsBySearch" method="get" class="d-flex">
        <input type="text" name="searchTerm" class="form-control" placeholder="Enter Facility Name..." style="width: 300px;" />
        <button type="submit" class="btn btn-secondary ms-2">Search</button>
    </form>
</div>

<table class="table mt-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
        </tr>
}
    </tbody>
</table>
